/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.closeSimulatorButton {
    -fx-background-color: transparent;
}

.overlaid-text {
    -fx-fill: black;
    -fx-font: 75 fixed;
}

.vital-view {
    -fx-border-color:black;
    -fx-border-radius:2;
    -fx-border-width:1;
}

.value-view {
    -fx-border-color:black;
    -fx-border-radius:2;
    -fx-border-width:1;
    -fx-padding:5px;
}

.pca-config {
    -fx-spacing: 5px;
}
.vitals-panel {
    -fx-spacing: 5px;
}
.instance-text {
    -fx-font: 10 fixed;
}

.heading {
    -fx-font: 25 fixed;
}

.stat {
    -fx-font: 12 fixed;    
}

.validation {
    -fx-text-fill: #003f7f;
    -fx-font: 35 fixed;
    -fx-text-alignment: left;
}

.metric-text {
    -fx-font: 10 fixed;
}

.vital-name {
    -fx-font: 35 fixed;
}
.value-list {
    -fx-fit-to-width:true;
    -fx-fit-to-height:true;
    -fx-hbar-policy:as-needed;
    -fx-vbar-policy:never;
    -fx-border-width:0;
}