/** Add css rules here for your application. */

html{
/* 	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #BAE6EF 100%); */
/* 	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(10, #BAE6EF)); */
/* 	background: -webkit-linear-gradient(top, cyan, white); */
}

.body {
	padding:10px;
/* 	background-color: AntiqueWhite #FAEBD7; */
	background-color:#DDFFFF;
/* 	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(10, #BAE6EF));*/
/* 	background: -webkit-linear-gradient(top, #BAE6EF, #FFFFFF); */
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
/*     margin: 40px 0px 70px; */
  margin: 0px 0px 70px;
  text-align: center;
  width:900px;
}

.bla{
	background-color:#e0ffff;
}

.heading {
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
  margin: 10px 0px 10px;
  
	
}

.wideSuggest {
	width:300px;
}
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.clickable {
	cursor:pointer;
	padding-right: 5px;
 	padding-left: 5px;
}

.clickableTitle {
	cursor:pointer;
	color:blue;
}

.hoverCross:hover{
	text-decoration: line-through;
}

.clickable:hover {
	background-color:#8FBC8F; /*DarkSeaGreen*/
}

.scenarioTitle {
	font-size: 20pt;
/* 	margin-top: 20px; */
	margin-bottom: 20px;
}

.important {
	font-weight: bold;
	font-size:12pt;
}

.welcomeText{
		width:900px;
		text-align:justify;
		text-justify:inter-word;
		background-color: #F5FFFA;/*MintCream*/
}

/* users list table header row */
.userListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}


.tableHeader {
    background-color: #2062B8;
 	color: white;
  	font-style: italic;
  	text-align: center;
}

.submittedScn {
	color: red;
	font-weight:bold;
}

.rejectedScn {
	color: #C71585;
	font-weight:bold;
}

.unlockedPreScn {
	color: #008000;
	font-weight:bold;
}

.unlockedPostScn {
	color: #006400;
	font-weight:bold;
}

/* A selected row from a table*/
.selectedRow{
	background-color:#316AC5;
	color: #FFFFFF;
}

.tableRowOther{
	background-color:#EEFFFF;
/* 	text-align: center; */
}

.gwt-SuggestBox{}
.gwt-SuggestBoxPopup{ border : 2px solid #C3d9FF; background-color:#e8eef7;}
.gwt-SuggestBoxPopup .item {}
.gwt-SuggestBoxPopup .item-selected { background-color:#c3d9FF;}

.titleColumn{
	width:200px;
}

.navigationPanel{
	 margin-left: auto;
 	margin-right: auto;
 	text-aling: center;
 	align:center;
/*  	color: #00AAFF; */
}

.styleRowEquipment{
	width:700px;
/* 	padding:10px; */
/* 	border : 1px solid black;  */
}

.paddingRight{
	padding-right:15px;
}