*~
build
bin
gen
.DS_Store
generated
.jnilib
.gradle
gradle.properties
.settings/
.project
.ecpproperties
.classpath
.externalToolBuilders/
.JumpStartSettings
local.properties
.apt_generated/
.factorypath
.gwt/
gwt-unitCache/
appengine-generated/
lib/
deploy/
classes/
clinical_scenarios/
