*~
build
bin
gen
.DS_Store
generated
.jnilib
.gradle
.settings/
.project
.ecpproperties
.classpath
.externalToolBuilders/
.JumpStartSettings
local.properties
.apt_generated/
.factorypath
.gwt/
gwt-unitCache/
appengine-generated/
lib/
classes/
clinical_scenarios/
*.pro.user*
*build-*Release/
*build-*Debug/
*.jar
hs_err*
.nddshome/
.metadata/
docbox-himss-2014/obj
docbox-himss-2014/src_dds
**/.idea/
**/*.log*
.keystore
*.iml
interop-lab/demo-apps/demo-app.csv*
id_file
