.label {
  /* -fx-font-size: 20pt; */
}

.pulse-oximeter-panel {
  -fx-background-color: black;
}
.electro-cardiogram-panel {
  -fx-background-color: black;
}
.ventilator-panel {
  -fx-background-color: black;
}
.multi-pulse-oximeter-panel {
  -fx-background-color: black;
}
.invasive-blood-pressure-panel {
  -fx-background-color: black;
}
.blood-pressure-panel {
  -fx-background-color: black;
}


.pulse-oximeter-panel .label {
  -fx-text-fill: cyan;
}
.electro-cardiogram-panel .label {
  -fx-text-fill:green;
}
.ventilator-panel .label {
  -fx-text-fill:white;
}
.multi-pulse-oximeter-panel .label {
  -fx-text-fill: cyan;
}
.invasive-blood-pressure-panel .label {
  -fx-text-fill: red;
}
.blood-pressure-panel .label {
  -fx-text-fill: magenta;
}