##
##
## (c) Copyright, Real-Time Innovations, Inc. 2001.  All rights reserved.
## No duplications, whole or partial, manual or electronic, may be made
## without prior written permission.  Any such copies, or
## revisions thereof, must display this notice unaltered.
## This code contains trade secrets of Real-Time Innovations, Inc.
##
## modification history:
## ---------------------
## 2.2,9jun14,vmg created
##========================================================================
<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <Filter Include="Header Files">
      <UniqueIdentifier>{57764858-07bf-4a80-9a09-2de3f408d37c}</UniqueIdentifier>
      <Extensions>h;hpp;hxx;hm;inl</Extensions>
    </Filter>
    <Filter Include="Resource Files">
      <UniqueIdentifier>{34f77704-fc15-4416-868a-d8357f739211}</UniqueIdentifier>
      <Extensions>ico;cur;bmp;dlg;rc2;rct;bin;rgs;gif;jpg;jpeg;jpe</Extensions>
    </Filter>
    <Filter Include="Source Files">
      <UniqueIdentifier>{60b2f9d4-0b30-4c2d-b3a3-c98cf7694b71}</UniqueIdentifier>
      <Extensions>cpp;c;cxx;rc;def;r;odl;idl;hpj;bat</Extensions>
    </Filter>
  </ItemGroup>
  <ItemGroup>
#foreach ($sourceFile in ${sourceFiles})  
    <ClCompile Include="$sourceFile">
      <Filter>Source Files</Filter>
    </ClCompile>
#end
#foreach ($sourceFile in ${additionalSourceFiles})  
    <ClCompile Include="$sourceFile">
      <Filter>Source Files</Filter>
    </ClCompile>
#end
  </ItemGroup>    
  <ItemGroup>
#foreach ($headerFile in ${headerFiles}) 
    <ClInclude Include="$headerFile">
      <Filter>Header Files</Filter>
    </ClInclude>
#end
#foreach ($headerFile in ${additionalHeaderFiles}) 
    <ClInclude Include="$headerFile">
      <Filter>Header Files</Filter>
    </ClInclude>
#end
  </ItemGroup>  
  <ItemGroup>
    <None Include="USER_QOS_PROFILES.xml">
      <Filter>Resource Files</Filter>
    </None>
  </ItemGroup>
</Project>