<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <!-- 
  <security-constraint>
  	<web-resource-collection>
  	  <url-pattern>
  	  	/*
  	  </url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  	  <role-name>*</role-name>
  	</auth-constraint>
  </security-constraint>
  -->
  <!-- Servlets -->
  <servlet>
	<servlet-name>requestFactoryServlet</servlet-name>
	<servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
	<init-param>
		<param-name>symbolMapsDirectory</param-name>
		<!-- You'll need to compile with -extras and move the symbolMaps directory 
			to this location if you want stack trace deobfuscation to work -->
		<param-value>WEB-INF/classes/symbolMaps/</param-value>
	</init-param>
</servlet>
<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
</filter>
<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
</filter-mapping>
<servlet-mapping>
	<servlet-name>requestFactoryServlet</servlet-name>
	<url-pattern>/gwtRequest</url-pattern>
</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Clinical_scenarios.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>