Welcome to your first Connext DDS example!

This Python example was generated using the data type ${exampleType}
from ${global.idlFileName}.idl.

This example has one application (${global.idlFileName}_program${sourceFileExtension})
which can run a publisher example (${global.idlFileName}_publisher${sourceFileExtension})
or a subscriber example (${global.idlFileName}_subscriber${sourceFileExtension}).

The available examples are:

    - Default example - Basic publisher and subscriber
    - Advanced example (add -exampleTemplate advanced) - Uses an
    		asynchronous generator to read, and monitors status
    		updates in the DataWriter and DataReader.


To Modify the Data:
===================

To modify the data being sent edit the ${global.idlFileName}_publisher${sourceFileExtension}
file where it says

# Modify the data to be sent here


To Run this Example (command line)
==================================

Run the subscriber on one command prompt:

$ python ${global.idlFileName}_program${sourceFileExtension} --sub 
or
$ python ${global.idlFileName}_subscriber${sourceFileExtension}

Run the publisher on a different command prompt:

$ python ${global.idlFileName}_program${sourceFileExtension} --pub
or
$ python ${global.idlFileName}_publisher${sourceFileExtension}

You can pass additional arguments. To see the full list:

$ python ${global.idlFileName}_program${sourceFileExtension} --help

For example, to publish 10 data samples on domain 100, run the following:

$ python ${global.idlFileName}_program${sourceFileExtension} --pub --domain 100 --sample-count 10



