##
##
## (c) Copyright, Real-Time Innovations, Inc. 2001.  All rights reserved.
## No duplications, whole or partial, manual or electronic, may be made
## without prior written permission.  Any such copies, or
## revisions thereof, must display this notice unaltered.
## This code contains trade secrets of Real-Time Innovations, Inc.
##
## modification history:
## ---------------------
## 2.3.x,17jun16,djs PLATFORMS-827 Add non-IDL functionality.
## 2.3,13may15,gpc Added setting of NDDSHOME if undefined in environment
## 2.2,29jul14,vmg created
##========================================================================
#[[######################################################################]]#
#[[#]]# makefile_#buildArchitectureMakefileName()
#[[#]]#
#[[#]]# (c) Copyright, Real-Time Innovations, 2012.  All rights reserved.
#[[#]]# RTI grants Licensee a license to use, modify, compile, and create
#[[#]]# derivative works of the software solely for use with RTI Connext DDS.
#[[#]]# Licensee may redistribute copies of the software provided that all such
#[[#]]# copies are subject to this license. The software is provided "as is",
#[[#]]# with no warranty of any type, including any warranty for fitness for
#[[#]]# any purpose. RTI is under no obligation to maintain or support the
#[[#]]# software. RTI shall not be liable for any incidental or consequential
#[[#]]# damages arising out of the use or inability to use the software.
#[[#]]#
#[[#]]#
#[[#]]# This makefile was automatically generated by RTI Code Generator (rtiddsgen)
#[[#]]# version ${global.codegenVersion}.
#[[#]]#
#[[#]]# Note: This makefile is only meant to build our example applications and
#[[#]]#       may require alterations to build on your system.
#[[#]]#
#[[#]]# This makefile assumes that your build environment is already correctly
#[[#]]# configured. (For example, the correct version of your compiler and
#[[#]]# linker should be in your PATH.)
#[[######################################################################]]#

#[[#]]# Example architecture
export TARGET := ${global.architectureName}

#[[#]]# Build Ada project
all:
	rm -rf .obj
	gprbuild -p -P samples/${idlFileNameLC}-samples.gpr -XOS=Linux -XRTIDDS_BUILD=${buildMode} -XRTIDDS_LIBRARY_TYPE=${libraryType} -XARCH=#[[$]]#{TARGET}
