##
##
## (c) Copyright, Real-Time Innovations, Inc. 2001.  All rights reserved.
## No duplications, whole or partial, manual or electronic, may be made
## without prior written permission.  Any such copies, or
## revisions thereof, must display this notice unaltered.
## This code contains trade secrets of Real-Time Innovations, Inc.
##
## modification history:
## ---------------------
## 2.3.x,17jun16,djs PLATFORMS-827 Add non-IDL functionality.
## 2.2,9jun14,vmg created
##========================================================================
#!gbuild
[Program]
#foreach($cFlag in ${compilerFlags})
    $cFlag
#end    
	-I.
	:sourceDir=.
#foreach($syslib in ${syslibs})
        -$syslib
#end
#foreach($extraLib in ${additionalRtiLibraries})
	-l${extraLib}${global.libSuffix}
#end
#foreach($specificSource in ${specificSources})
$specificSource
#end
#foreach($sharedSource in ${sharedSources})
$sharedSource
#end
#foreach($addSource in ${additionalSourceFiles}) 
$addSource
#end
shm_area.c
#buildProjectName()dd_INTEGRITY.ld
